@model CustomerAddressEditModel
@{
    Layout = "_ColumnsOne";
    ViewBag.Title = "Add Address";
}


<section class="container-fluid deshboard_section">
	<div class="row">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="sidebar_menu font_lato">
						<h3>Inovatiqa Dashboard</h3>
						@await Html.PartialAsync("_DashboardSideBar", "my-account")
					</div>
				</div>
				<div class="col-md-9 newcustomer-area billing_chang_addres">
					<div class="accountform-area font_lato" id="account-deatil">
						<div class="form-title">
							<h5>Add New Address</h5>
						</div>
						<hr class="line">
						<form asp-route="CustomerAddressAdd" method="post" class="createaccount-form">
							@if(TempData.ContainsKey("message"))
							{
								<div class="alert alert-success" role="alert">
								  @TempData["message"]
								</div>
							}
							<div class="row flex_col align_center">
							<div asp-validation-summary="ModelOnly" class="message-error"></div>
							@{
								var dataDictAddress = new ViewDataDictionary(ViewData);
								dataDictAddress.TemplateInfo.HtmlFieldPrefix = "Address";
								@await Html.PartialAsync("_CreateOrUpdateAddress", Model.Address, dataDictAddress)
							}
								<div class="col-md-9 col-md-offset-3 col-sm-12 col-xs-12">
									<div class="form-group font_roboto">
										<input type="submit" name="" value="Save Changes" class="btn btn-signin"/>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@if(TempData["message"] != null || Convert.ToString(TempData["messageClass"]) != ""){
							var name = TempData;
							<script type="text/javascript"> 
								displayBarNotification(@TempData["message"], @TempData["messageClass"], 3000);
							</script>
						}