@model PasswordRecoveryModel
@using Inovatiqa.Core
@using Inovatiqa.Core.Interfaces
@inject IWebHelper webHelper
@{
    Layout = "_ColumnsOne";
    ViewBag.Title = "Account";
    var registerUrl = Url.RouteUrl("Register", new { returnUrl = this.Context.Request.Query["returnUrl"] }, webHelper.CurrentRequestProtocol);
    var returnUrl = Context.Request.Query.TryGetValue("returnUrl", out var url) && !StringValues.IsNullOrEmpty(url)
            ? url.ToString() : webHelper.GetRawUrl(Context.Request);
}


<section class="container-fluid signin-page-area">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="signin-page-rowarea">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="return-customer">
                                    <div class="signin-title text-center font_lato">
                                        <h4>Password Recovery</h4>
                                        <hr>
                                        @*await Html.PartialAsync("_ExternalAuthentication.Errors")*@
                                    </div>
                                    
                                        
                                        <form class="form-signin font_lato" style="padding-bottom: 70px;" asp-route="PasswordRecovery" method="post">
                                            @*<div asp-validation-summary="ModelOnly" class="message-error"></div>*@
                                            
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        @if (!string.IsNullOrEmpty(Model.Result))
                                                        {
                                                            <div class="alert alert-info form-control" style="max-height:30px; min-height:30px;">
                                                                @Model.Result
                                                            </div>
                                                        }
                                                        @*<label asp-for="Email" asp-postfix=":"></label>*@
                                                        <p>Please enter your email address to search for your account.</p>
                                                        <label for="email">Email</label>
                                                        <nop-required />
                                                        <input asp-for="Email" class="form-control" style="margin-bottom:0px;" />
                                                        <span class="error-label m0"  asp-validation-for="Email"></span>
                                                    </div>
                                                </div>
                                                @if (Model.DisplayCaptcha)
                                                {
                                                    <nop-captcha />
                                                }
                                            </div>
                                            <div class="col-md-12">
                                                <div class="signin-btn font_roboto">
                                                    <input type="submit" name="send-email" style="margin:-15px;" class="btn btn-signin" value="Recover" />
                                                </div>
                                            </div>
                                        </form>  
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="new-customer">
                                    <div class="signin-title text-center font_lato">
                                        <h4>Account Options</h4>
                                        <hr>
                                    </div>
                                    <div class="new-customer-info font_lato">
                                        <p>By creating an account on our website, you will be able to shop faster, be up to date on an orders status, and keep track of the orders you have previously made.</p>
                                        <div class="return-btn font_roboto">
                                            <a href="@registerUrl" class="btn btn-signin">Register</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="new-customer">
                                    <div class="signin-title text-center font_lato" >
                                        <hr style="margin-bottom:20px;" />
                                    </div>
                                    <div class="new-customer-info font_lato" >
                                        <p>Do you remember your credentials? Just click the signin button below to login to your account conveniently and start using Inovatiqa services.</p>
                                        <div class="return-btn font_roboto">
                                            <a href="@Url.RouteUrl("Login", new { returnUrl })" class="btn btn-signin">SignIn</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




