@model ShipmentSearchModel
@inject Inovatiqa.Services.WorkContext.Interfaces.IWorkContextService workContextService
@{
    //page title
    ViewBag.PageTitle = "Invoices";

}

@{
    const string hideSearchBlockAttributeName = "InvoicesPage.HideSearchBlock";
    var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContextService.CurrentCustomer, hideSearchBlockAttributeName, workContextService.CurrentCustomer.Id);
}

<form asp-controller="Order" asp-action="InvoiceList" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Invoices
        </h1>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">Search</div>
                            <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                        </div>

                        <div class="search-body @(hideSearchBlock ? "closed" : "")">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="StartDate" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="StartDate" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="EndDate" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="EndDate" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="TrackingNumber" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="TrackingNumber" />
                                        </div>
                                    </div>
                                    @*<div class="form-group" style="display:none">
                                        <div class="col-md-4">
                                            <nop-label asp-for="WarehouseId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="WarehouseId" asp-items="Model.AvailableWarehouses" />
                                        </div>
                                    </div>*@
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="OrderId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="OrderId" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="CountryId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="CountryId" asp-items="Model.AvailableCountries" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="StateProvinceId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="StateProvinceId" asp-items="Model.AvailableStates" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="County" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="County" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="City" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="City" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7 col-md-offset-5">
                                        <button type="button" id="search-invoices" class="btn btn-primary btn-search">
                                            <i class="fa fa-search"></i>
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

             <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "invoiced-shipments-grid",
                        UrlRead = new DataUrl("InvoicedShipmentListSelect", "Order", null),
                        SearchButtonId = "search-invoices",
                        PrimaryKeyColumn = nameof(ShipmentModel.Id),
                        Length = Model.PageSize,
                        LengthMenu = Model.AvailablePageSizes,
                        Filters = new List<FilterParameter>
                        {
                            new FilterParameter(nameof(Model.StartDate), typeof(DateTime?)),
                            new FilterParameter(nameof(Model.EndDate), typeof(DateTime?)),
                            new FilterParameter(nameof(Model.TrackingNumber)),
                            new FilterParameter(nameof(Model.CountryId)),
                            new FilterParameter(nameof(Model.StateProvinceId)),
                            new FilterParameter(nameof(Model.County)),
                            new FilterParameter(nameof(Model.City)),
                            new FilterParameter(nameof(Model.OrderId))
                        },
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(null)
                            {
                                Render = new RenderChildCaret(),
                                Width = "5",
                                Searchable = false,
                                ClassName =  InovatiqaColumnClassDefaults.ChildControl
                            },
                            new ColumnProperty(nameof(ShipmentModel.Id))
                            {
                                IsMasterCheckBox = true,
                                Render = new RenderCheckBox("checkbox_shipments"),
                                Searchable = false,
                                ClassName =  InovatiqaColumnClassDefaults.CenterAll,
                                Width = "50",
                                Visible = false
                            },
                            new ColumnProperty(nameof(ShipmentModel.Id))
                            {
                                Title = "Shipment #",
                                Width = "80"
                            },
                            new ColumnProperty(nameof(ShipmentModel.CustomOrderNumber))
                            {
                                Title = "Order #",
                                Width = "100"
                            },
                            new ColumnProperty(nameof(ShipmentModel.TrackingNumber))
                            {
                                Title = "Tracking number",
                            },
                            new ColumnProperty(nameof(ShipmentModel.TotalWeight))
                            {
                                Title = "Total weight",
                                Width = "100",
                                Visible = false
                            },
                            new ColumnProperty(nameof(ShipmentModel.ShippedDate))
                            {
                                Title = "Date shipped",
                                Width = "150"
                            },
                            new ColumnProperty(nameof(ShipmentModel.DeliveryDate))
                            {
                                Title = "Date delivered",
                                Width = "150",
                                Visible = false
                            },
                            new ColumnProperty(nameof(OrderModel.Id))
                            {
                                Title = "Invoice (PDF)",
                                Width = "100",
                                ClassName = InovatiqaColumnClassDefaults.Button,
                                Render = new RenderButtonViewAjax("Invoice (PDF)")
                            }
                        },
                        ChildTable = new DataTablesModel
                        {
                            Name = "products-grid",
                            UrlRead = new DataUrl("ShipmentsItemsByShipmentId", "Order", null),
                            IsChildTable = true,
                            Paging = false,
                            Length = Model.PageSize,
                            LengthMenu = Model.AvailablePageSizes,
                            Filters = new List<FilterParameter>
                            {
                                new FilterParameter(nameof(ShipmentItemSearchModel.ShipmentId), nameof(OrderModel.Id), true)
                            },
                            ColumnCollection = new List<ColumnProperty>
                            {
                                new ColumnProperty(nameof(ShipmentItemModel.ProductName))
                                {
                                    Title = "Product",
                                    Width = "400"
                                },
                                new ColumnProperty(nameof(ShipmentItemModel.ShippedFromWarehouse))
                                {
                                    Title = "Warehouse",
                                    Width = "150"
                                },
                                new ColumnProperty(nameof(ShipmentItemModel.QuantityInThisShipment))
                                {
                                    Title = "Qty shipped",
                                    Width = "150"
                                },
                                new ColumnProperty(nameof(ShipmentItemModel.ItemWeight))
                                {
                                    Title = "Item weight",
                                    Width = "150"
                                },
                                new ColumnProperty(nameof(ShipmentItemModel.ItemDimensions))
                                {
                                    Title = "Item dimensions",
                                    Width = "150"
                                }
                            }
                        }
                    })
                </div>
            </div>
                <script>
                    $(document).ready(function() {
                        //load states when changing a country dropdownlist
                        $("#@Html.IdFor(model => model.CountryId)").change(function() {
                            var selectedItem = $(this).val();
                            var ddlStates = $("#@Html.IdFor(model => model.StateProvinceId)");
                            $.ajax({
                                cache: false,
                                type: "GET",
                                url: "@(Url.Action("GetStatesByCountryId", "Country"))",
                                data: {
                                    "countryId": selectedItem,
                                    "addAsterisk": "true"
                                },
                                success: function (data, textStatus, jqXHR) {
                                    ddlStates.html('');
                                    $.each(data, function(id, option) {
                                        ddlStates.append($('<option></option>').val(option.id).html(option.name));
                                    });
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    $("#statesAlert").click();
                                }
                            });
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</form>
<nop-alert asp-alert-id="statesAlert" asp-alert-message="Failed to retrieve states." />
<script>
    function table_getdata_invoiced_shipments_grid(data) {
        var shipmentId = data;
        $('#invoiced-shipments-grid > tbody > tr').each(function (index, tr) {
            if ($(this).find('td').eq(1).text() == shipmentId) {
                var orderId = $(this).find('td').eq(2).text();
                var redirectURL = '/Admin/Order/PdfInvoice?orderId=' + orderId + '&shipmentId=' + shipmentId;
                window.open(redirectURL)
            }
        });
    }
</script>
