@model CustomerReportsSearchModel

@{
    //page title
    ViewBag.PageTitle = "Registered customers";
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        Registered customers
    </h1>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "registered-customers-grid",
                        UrlRead = new DataUrl("ReportRegisteredCustomersList", "Report", null),
                        Length = Model.RegisteredCustomers.PageSize,
                        LengthMenu = Model.RegisteredCustomers.AvailablePageSizes,
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(RegisteredCustomersReportModel.Period))
                            {
                                Title = "Period"
                            },
                            new ColumnProperty(nameof(RegisteredCustomersReportModel.Customers))
                            {
                                Title = "Count",
                                Width = "150"
                            }
                        }
                    })
                </div>
            </div>
        </div>
    </div>
</div>