.panel.panel-raised {
    box-shadow: 0 2px 4px 0 rgba(34,36,38,.2), 0 2px 10px 0 rgba(34,36,38,.08);
    border-color: #ddd;
}
.panel {
    margin-bottom: 21px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
    .panel.panel-raised .panel-heading {
        border-color: #ddd;
    }
    .panel > .panel-heading {
        font-size: 1em;
    }
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}
.content-container {
    min-height: 100%;
    margin-bottom: -20em;
    margin-top: 1.5em;
    padding-bottom: 6em
}

    .content-container:after {
        content: "";
        display: block;
        height: 20em
    }
