@{
    Layout = "_ColumnsOne";
}
@Html.Resource(@<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer" ></script>, "js")

<section class="container-fluid signed_in_user_strip">
    <div class="row">
        <div class="container bigger">
            <p>You’re signed in to your account</p>
        </div>
    </div>
</section>
<section class="container-fluid  ">
    <div class="row  ">
        <div class="container">
            <div class="row m_t_60 m_b_60  ">
                <div class="col-md-3 left_banner">
                    <h3>ESSENTIAL TASKS</h3>
                    <div class="box_est">
                        <ul>
                            <li class=""><a href="#">START NEW ORDER</a></li>
                            <li><a href="#">REORDER GUIDE</a></li>
                            <li><a href="#">MY LISTS</a></li>
                            <li><a href="#"> SUSPENDED CARTS</a></li>
                            <li><a href="#">CHECK ORDER STATUS</a></li>
                            <li><a href="#">CREATE RETURN REQUEST</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 p_t_20">
                    <div class="owl-carousel" id="banner_slider">
                        <div class="item"><img src="/images/UIComponents/slider.png" /></div>
                        <div class="item"><img src="/images/UIComponents/slider.png" /></div>
                        <div class="item"><img src="/images/UIComponents/slider.png" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row flex_col m_t_30 m_b_20">
                <div class="col-md-12 title_text font_lato m_b_10">
                    <div class="row flex_col align_center">
                        <div class="col-md-8 col-sm-6 col-xs-12"><h2><strong>Top</strong> Categories</h2></div>
                        <div class="col-md-4 col-sm-6 col-xs-12 text-right show_all"><a href="">Shop All Categories <img src="/images/UIComponents/Polygon 1.svg"></a></div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="row flex_col">
                        <div class="col-md-4 col-sm-6 col-xs-12 flex_col">
                            <div class="category_box">
                                <img src="/images/UIComponents/pr7.png" />
                                <div>
                                    <h4>Ambulatory Equipment</h4>
                                    <ul>
                                        <li>Transfer Equipment</li>
                                        <li>Ambulatory Accessories</li>
                                        <li>Alarms</li>
                                        <li>PROTECTION MATS</li>
                                    </ul>
                                    <a href="#" class="btn btn-default">View All</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 flex_col">
                            <div class="category_box">
                                <img src="/images/UIComponents/pr0.png" />
                                <div>
                                    <h4>Clinical Laboratory</h4>
                                    <ul>
                                        <li>Test Kits</li>
                                        <li>Specimen Collection</li>
                                        <li>Laboratory Equipment</li>
                                        <li>Eyewash Stations</li>
                                    </ul>
                                    <a href="#" class="btn btn-default">View All</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 flex_col">
                            <div class="category_box">
                                <img src="/images/UIComponents/pr4.png" />
                                <div>
                                    <h4>Apparel</h4>
                                    <ul>
                                        <li>Face Shields</li>
                                        <li>MASKS</li>
                                        <li>Shirts and Scrubs</li>
                                        <li>
                                            Pants and Scrubs
                                        </li>
                                    </ul>
                                    <a href="#" class="btn btn-default">View All</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 flex_col">
                            <div class="category_box">
                                <img src="/images/UIComponents/p6.png" />
                                <div>
                                    <h4>
                                        Needles and Syringes
                                    </h4>
                                    <ul>
                                        <li>
                                            Syringes
                                        </li>
                                        <li>
                                            Sharps Collectors
                                        </li>
                                        <li>
                                            Hypodermic Needles
                                        </li>
                                        <li>
                                            SYRINGES W/ NEEDLES

                                        </li>
                                    </ul>
                                    <a href="#" class="btn btn-default">View All</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 flex_col">
                            <div class="category_box">
                                <img src="/images/UIComponents/Pharmaceuticals.png" />
                                <div>
                                    <h4>Pharmaceuticals</h4>
                                    <ul>
                                        <li>Over the Counter</li>
                                        <li>Rx</li>
                                        <li>
                                            Pharmacy Supplies
                                        </li>
                                        <li>Accessories</li>
                                    </ul>
                                    <a href="#" class="btn btn-default">View All</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 flex_col">
                            <div class="category_box">
                                <img src="/images/UIComponents/pr5.png" />
                                <div>
                                    <h4>Respiratory</h4>
                                    <ul>
                                        <li>
                                            Humidifiers / Nebulizers
                                        </li>
                                        <li>
                                            Nasal Cannulas
                                        </li>
                                        <li>
                                            Respiratory Masks
                                        </li>
                                        <li>
                                            Respiratory Accessories
                                        </li>
                                    </ul>
                                    <a href="#" class="btn btn-default">View All</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row flex_col    ">
                <div class="col-md-12 title_text font_lato">
                    <div class="row flex_col align_center">
                        <div class="col-md-8 col-sm-6 col-xs-12"><h2><strong>Top</strong> Brands</h2></div>
                        <div class="col-md-4 col-sm-6 col-xs-12 text-right show_all"><a href="">Shop All Brands <img src="/images/UIComponents/Polygon 1.svg"></a></div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="row flex_col m0">
                        <div class="brands_icons">
                            <img src="/images/UIComponents/i1.png" class="img-responsive center-block brand_img">

                            <img src="/images/UIComponents/icc3.png" class="img-responsive center-block brand_img">

                            <img src="/images/UIComponents/i3.png" class="img-responsive center-block brand_img">

                            <img src="/images/UIComponents/icc2.png" class="img-responsive center-block brand_img">

                            <img src="/images/UIComponents/i2.png" class="img-responsive center-block brand_img">

                            <img src="/images/UIComponents/i6.png" class="img-responsive center-block brand_img">

                            <img src="/images/UIComponents/i5.png" class="img-responsive center-block brand_img">

                            <img src="/images/UIComponents/i4.png" class="img-responsive center-block brand_img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row flex_col   m_b_30">
                <div class="col-md-12 title_text font_lato ">
                    <div class="row flex_col align_center">
                        <div class="col-md-12 col-sm-12 col-xs-12"><h2><strong>Coronavirus </strong> Supplies</h2></div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="row flex_col  ">
                        <div class="col-md-3 col-sm-6 col-xs-12 flex_col">
                            <div class="product_box">
                                <div class="prod_img">
                                    <div class="top_icon">
                                        <a href="#" class="like_icon"><img src="/images/UIComponents/heart.svg" /></a>
                                        <a href="#" class="cart_icon"><img src="/images/UIComponents/ic3.svg" /></a>
                                    </div>
                                    <img src="/images/UIComponents/pr2.png" class="main_product_img">

                                </div>
                                <div class="prod_body">
                                    <h4>3M Health Care Particulate Respirator N95 | Pack of 10</h4>
                                    <p>One Size Fits Most White NonSterile Not Rated 8211</p>
                                    <h2>CASE [80]</h2>

                                    <div class="bottom_ic">
                                        <h5>$210.08 USD</h5>
                                        <a href="#" class="btn btn-primary">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 flex_col">
                            <div class="product_box">
                                <div class="prod_img">
                                    <div class="top_icon">
                                        <a href="#" class="like_icon"><img src="/images/UIComponents/heart.svg" /></a>
                                        <a href="#" class="cart_icon"><img src="/images/UIComponents/ic3.svg" /></a>
                                    </div>
                                    <img src="/images/UIComponents/pr3.png" class="main_product_img">

                                </div>
                                <div class="prod_body">
                                    <h4>Blue Exam Glove FLEXAL™ Feel NonSterile Nitrile Standard Cuff Length</h4>
                                    <p>Textured Fingertips Blue Not Chemo Approved 88TT24XL</p>
                                    <h2>BOX [1]</h2>

                                    <div class="bottom_ic">
                                        <h5>$14.09 USD</h5>
                                        <a href="#" class="btn btn-primary">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 flex_col">
                            <div class="product_box">
                                <div class="prod_img">
                                    <div class="top_icon">
                                        <a href="#" class="like_icon"><img src="/images/UIComponents/heart.svg" /></a>
                                        <a href="#" class="cart_icon"><img src="/images/UIComponents/ic3.svg" /></a>
                                    </div>
                                    <img src="/images/UIComponents/pr1.png" class="main_product_img">

                                </div>
                                <div class="prod_body">
                                    <h4>Face Mask with Ear Loops | Pack of 50</h4>
                                    <p>One Size Fits Most Blue NonSterile ASTM Level 1 FM301/FM40</p>
                                    <h2>CASE [2000]</h2>

                                    <div class="bottom_ic">
                                        <h5>$464.87 USD</h5>
                                        <a href="#" class="btn btn-primary">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 flex_col">
                            <div class="product_box">
                                <div class="prod_img">
                                    <div class="top_icon">
                                        <a href="#" class="like_icon"><img src="/images/UIComponents/heart.svg" /></a>
                                        <a href="#" class="cart_icon"><img src="/images/UIComponents/ic3.svg" /></a>
                                    </div>
                                    <img src="/images/UIComponents/pr6.png" class="main_product_img">

                                </div>
                                <div class="prod_body">
                                    <h4> General-Purpose Nitrile Gloves</h4>
                                    <p>Large, Blue, 100/Box BWK-380LBX </p>
                                    <h2>BOX [1]</h2>

                                    <div class="bottom_ic">
                                        <h5>$6.48 USD</h5>
                                        <a href="#" class="btn btn-primary">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row flex_col   m_b_40">
                <div class="col-md-12 title_text font_lato">
                    <div class="row flex_col align_center">
                        <div class="col-md-12 col-sm-12 col-xs-12"><h2><strong>Most Viewed </strong>  Products</h2></div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="row flex_col  ">
                        <div class="col-md-3 col-sm-6 col-xs-12 flex_col">
                            <div class="product_box">
                                <div class="prod_img">
                                    <div class="top_icon">
                                        <a href="#" class="like_icon"><img src="/images/UIComponents/heart.svg" /></a>
                                        <a href="#" class="cart_icon"><img src="/images/UIComponents/ic3.svg" /></a>
                                    </div>
                                    <img src="/images/UIComponents/pr8.png" class="main_product_img">

                                </div>
                                <div class="prod_body">
                                    <h4>Veriflex™ Modular Fall Mat Veriflex™ Material </h4>
                                    <p>5 X 5 Inch Squares</p>
                                    <h2>BOX [4]</h2>

                                    <div class="bottom_ic">
                                        <h5>$44.17 USD</h5>
                                        <a href="#" class="btn btn-primary">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 flex_col">
                            <div class="product_box">
                                <div class="prod_img">
                                    <div class="top_icon">
                                        <a href="#" class="like_icon"><img src="/images/UIComponents/heart.svg" /></a>
                                        <a href="#" class="cart_icon"><img src="/images/UIComponents/ic3.svg" /></a>
                                    </div>
                                    <img src="/images/UIComponents/pr1.png" class="main_product_img">

                                </div>
                                <div class="prod_body">
                                    <h4>Face Mask with Ear Loops | Pack of 50</h4>
                                    <p>One Size Fits Most Blue NonSterile ASTM Level 1 FM301/FM40</p>
                                    <h2>CASE [2000]</h2>

                                    <div class="bottom_ic">
                                        <h5>$464.87 USD</h5>
                                        <a href="#" class="btn btn-primary">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 flex_col">
                            <div class="product_box">
                                <div class="prod_img">
                                    <div class="top_icon">
                                        <a href="#" class="like_icon"><img src="/images/UIComponents/heart.svg" /></a>
                                        <a href="#" class="cart_icon"><img src="/images/UIComponents/ic3.svg" /></a>
                                    </div>
                                    <img src="/images/UIComponents/pr9.png" class="main_product_img">

                                </div>
                                <div class="prod_body">
                                    <h4>Underarm Aluminum Frame Crutches | McKesson</h4>
                                    <p>One Size Fits Most White NonSterile Not Rated 8211</p>
                                    <h2>FOR [1]</h2>

                                    <div class="bottom_ic">
                                        <h5>$9.76 USD</h5>
                                        <a href="#" class="btn btn-primary">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 flex_col">
                            <div class="product_box">
                                <div class="prod_img">
                                    <div class="top_icon">
                                        <a href="#" class="like_icon"><img src="/images/UIComponents/heart.svg" /></a>
                                        <a href="#" class="cart_icon"><img src="/images/UIComponents/ic3.svg" /></a>
                                    </div>
                                    <img src="/images/UIComponents/pr.png" class="main_product_img">

                                </div>

                                <div class="prod_body">
                                    <h4>Remanufactured TN460 High-Yield Toner</h4>
                                    <p>Black XER-006R01421</p>
                                    <h2>EACH [1]</h2>

                                    <div class="bottom_ic">
                                        <h5>$50.84 USD</h5>
                                        <a href="#" class="btn btn-primary">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row"><img src="/images/UIComponents/bg.png" class="full_width_img home_banner"></div>
    <div class="row">
        <div class="container">
            <div class="row flex_col m_t_80 m_b_80">
                <div class="col-md-12 m_b_20 title_text font_lato">
                    <div class="row flex_col align_center">
                        <div class="col-md-10  col-sm-12 col-xs-12"><h2 style="padding-left: 30px;"><strong>Our </strong>  Reviews</h2></div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="row flex_col">
                        <div class="col-md-4 col-xs-12">
                            <div class="testimonial_box">
                                <div class="test_details">
                                    <p>"It's a pleasure doing business with a company that stands by their product!"</p>
                                </div>
                                <h4>Nancy J.</h4>

                                <img src="/images/UIComponents/user.png" class="user_img" />
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="testimonial_box">
                                <div class="test_details">
                                    <p>"Thank you for the great service you provided. We would look to you for any medical supplies we may need in the future."</p>
                                </div>
                                <h4>Peter W.</h4>

                                <img src="/images/UIComponents/user1.png" class="user_img" />
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="testimonial_box">
                                <div class="test_details">
                                    <p>"Thank you Inovatiqa for a great shopping experience."</p>
                                </div>
                                <h4>Adam S.</h4>

                                <img src="/images/UIComponents/user3.png" class="user_img" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Resource(@<script>
    $(document).ready(function () {
        //new WOW().init();

        $(".view_all_cat").click(function () {
            $(".hidden_cat").css({ "display": "flex" });
            $(".hidden_img").slideDown();
            $(this).hide();
        });
        $('#banner_slider').owlCarousel({
            margin: 30,
            loop: true,
            slideSpeed: 300,
            paginationSpeed: 400,
            autoplay: true,
            nav: false,
            pagination: false, dots: true,
            navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
            responsive: {
                0: {
                    items: 1
                },
                480: {
                    items: 1
                },
                700: {
                    items: 1
                },
                1000: {
                    items: 1
                },
                1100: {
                    items: 1
                }
            }
        });
        $(document).on("click", ".tab_title a", function () {
            var data_val = $(this).attr("data-val");
            $(".tab_title a").removeClass("active");
            $(this).addClass("active");
            $(".tab_body").removeClass("active");
            $(".tab_body." + data_val).addClass("active");
        });
    });

</script>, "js")