@model IList<ProductOverviewModel>

<div class="page category-page from-panel">
    @if (Model.Count > 0)
    {
        var counter = 1;
        <div class="page-title panel-heading">
            <h1>Featured products</h1>
        </div>
        <div class="page-body">
            @foreach (var product in Model)
            {
                if (counter <= 6)
                {
                    <div class="item-box product-grid col-xs-12 col-sm-4 col-md-4 product-align clearfix">
                        <div class="thumbnail">
                            @await Html.PartialAsync("_ProductBox", product)
                        </div>
                    </div>
                }
                counter = counter + 1;
            }
        </div>
    }
</div>