@{
    Layout = "_ColumnsOne";
    ViewBag.Title = "Distribution Services";
}
<style>
    .become-customer-box{
        box-shadow : none !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .newcustomer-area{
        padding: 0px !important;
        background: #FFF !important;
    }
    h1, h2, h3, h4, h5, h6{
        font-weight: 500 !important;
    }
    .segment-line{
        border: 0.1px solid #DADADA !important;
    }
    .heading-price-match, .blue-heading, .fancy-heading {
        font-size: 21px !important;
    }
    .price-match-helper-text, .Distribution-text {
        font-size: 16px !important;
    }
</style>
<section class="container-fluid newcustomer-area">
    <div class="container-fluid" style="background: #F1F3F6; padding: 10px;">
        <div class="container breadcrumb-bar">
            <span class="muted"><a style="color: #A9A9A9;" href="@Url.RouteUrl("Homepage")">Inovatiqa</a> / </span> Distribution Services
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row mt10">
                <div class="col-md-12">
                    <div class="become-customer-box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="font_lato">
                                    <div class="customer-select">
                                        <img src="~/images/UIComponents/Distribution_Services.png" style="width: 100%;">
                                       <div>
                                            <h4 class="fancy-heading">Distribution Services</h4>
                                        </div>
                                        <h4 class="heading-price-match">Distribution services you can trust!</h4>
                                        <hr class="segment-line">
                                        <div class="col-md-7" style="padding: 0px;">
                                            <p class="Distribution-text">Inovatiqa Corporation prides itself on delivering your products in a quick and efficient manner. We're your one stop shop for all medical equipment and supplies. With over 200 healthcare manufacturer’s products available to order on one purchase order, we help you remain market competitive.</p>
                                            <h4 class="blue-heading mt55 mb0">Excellent Service and Distribution</h4>
                                            <ul class="unmuted-list mt35">
                                                <li class="price-match-helper-text mt16">We distribute a variety of products nationwide</li>
                                                <li class="price-match-helper-text mt16">Package and deliver thousands of products per year</li>
                                                <li class="price-match-helper-text mt16">Get the products you need, when you need them</li>
                                                <li class="price-match-helper-text mt16">Free Delivery on orders over $99</li>
                                            </ul>
                                            <h4 class="blue-heading mt55 mb0">Private Delivery Fleet</h4>
                                            <ul class="unmuted-list mt35">
                                                <li class="price-match-helper-text mt16">Flexible delivery: same, next, and two-day shipping available</li>
                                                <li class="price-match-helper-text mt16">On Time Delivery</li>
                                                <li class="price-match-helper-text mt16">Relationships with common shipping carriers</li>
                                                <li class="price-match-helper-text mt16">Easy to use</li>
                                            </ul>
                                            <h4 class="blue-heading mt55 mb0">Simple Product Ordering</h4>
                                            <ul class="unmuted-list mt35">
                                                <li class="price-match-helper-text mt16">Online ordering simplified</li>
                                                <li class="price-match-helper-text mt16">Customized ordering in any quantity</li>
                                                <li class="price-match-helper-text mt16">Volume discounts and special pricing</li>
                                                <li class="price-match-helper-text mt16">Friendly support for any online orders available</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-5">
                                            <img src="~/images/UIComponents/ds1.png" width="500" height="300">
                                            <img src="~/images/UIComponents/ds2.svg" class="mt102" width="400" style="margin-left: 10%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background: #F1F3F6; padding: 20px;"></div> 
</section>