@{ 
    Layout = "_ColumnsOne";
    ViewBag.Title = "Government Contracts";
}
<style>
    .become-customer-box{
        box-shadow : none !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .newcustomer-area{
        padding: 0px !important;
        background: #FFF !important;
    }
    /*h1, h2, h3, h4, h5, h6{
        font-weight: 500 !important;
    }*/
    .segment-line{
        border: 0.1px solid #DADADA !important;
    }
    p{
        font-size: 16px !important;
    }
    .fancy-heading, .heading-price-match {
        font-size: 21px !important;
    }
    .small-heading{
        font-size: 17px !important;
        font-weight: 600 !important;
    }
    .black-muted, .muted-text-18{
        font-size: 16px !important;
    }
    .ml5{
        margin-left: 5px !important;
    }
</style>
<section class="container-fluid newcustomer-area">
     <div class="container-fluid" style="background: #F1F3F6; padding: 10px;">
         <div class="container breadcrumb-bar">
            <span class="muted"><a style="color: #A9A9A9;" href="@Url.RouteUrl("Homepage")">Inovatiqa</a> / </span> About Inovatiqa Corporation Government Solutions
         </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="row mt10">
                <div class="col-md-12">

                    <div class="become-customer-box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="font_lato">
                                    <div class="customer-select">
                                        <img src="~/images/UIComponents/govt_contracts.png" width="1200" alt="">
                                        <div>
                                            <h4 class="fancy-heading">Government Contracts</h4>
                                        </div>
                                        <h4 class="heading-price-match">The Inovatiqa Advantage</h4>
                                        <hr class="segment-line">
                                        <p class="Govt-contracts-text mt25">Inovatiqa Corporation is a one stop shop for all medical equipment and supplies. Our core products range from Medical, Dental, Surgical to Pharmaceutical and Laboratory solutions. With over 200 healthcare manufacturer’s products available to order on one purchase order, We believe in conducting business with integrity and honesty which is becoming non-existent in today’s modern world. Based in Stafford, TX the Inovatiqa Team is one of the fastest-growing, government- contracted companies providing quality products, certified to specific standards for optimum performance.</p>
                                        <div class="col-md-12 pl0 mt53" style="display: flex; justify-content: space-between;">
                                            <div class="col-md-5 pl0">
                                                <div>
                                                    <h4 class="new-info-heading">Inovatiqa Government Division</h4>
                                                    <hr class="segment-line" />
                                                    <div class="">
                                                        <div class="">
                                                            <div class="mt30">
                                                                <span class="black-muted">Contact <span class="muted-text-18 ml10">Hammad Iqbal</span></span>
                                                            </div>
                                                            <div class="mt12">
                                                                <span class="black-muted">Phone <span class="muted-text-18 ml10">346-229-4142</span></span>
                                                            </div>
                                                            <div class="mt12">
                                                                <span class="black-muted">Fax <span class="muted-text-18 ml10">281-220-1350</span></span>
                                                            </div>
                                                            <div class="mt12">
                                                                <span class="black-muted">Email <span class="ml10"><a href="mailto:customerservice@inovatiqa.com" class="blue">customerservice@inovatiqa.com</a></span></span>
                                                            </div>
                                                            <div class="mt12">
                                                                <span class="black-muted">Address <span class="muted-text-18 ml10">12815 Capricorn St, Stafford, TX 77477</span></span>
                                                            </div>
                                                            <div class="mt18">
                                                                <span class="black-muted">Cage Code <span class="muted-text-18 ml5">80RDO;</span></span>
                                                                <span class="black-muted ml21">DUNS <span class="muted-text-18 ml5">080767045;</span></span>
                                                                <span class="black-muted ml21">TIN <span class="muted-text-18 ml5">82-1832267;</span></span>
                                                            </div>
                                                            <div class="mt12">
                                                                <span class="black-muted">Socio-Economic <span class="muted-text-18 ml10">Minority-Owned Business</span></span>
                                                            </div>
                                                            <div class="mt12 mb30">
                                                                <span class="black-muted">NAICS Code <span class="muted-text-18 ml10">337127, 423450, 446199, 532490, 621511, 339112</span></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <h4 class="new-info-heading">Select Government Medical Customers</h4>
                                                <hr class="segment-line" />
                                                <div style="width: 100%;">
                                                    <div style="display: flex; justify-content: space-between;">
                                                        <img src="~/images/UIComponents/NASA.svg" style="height: 50px; width: 65px; transform: translateY(-5px);" />
                                                        <img src="~/images/UIComponents/USDA.svg" style="height: 40px; width: 65px;" />
                                                        <img src="~/images/UIComponents/NIH.svg" style="height: 75px; width: 65px; transform: translateY(-15px);" />
                                                        <img src="~/images/UIComponents/fda_logo.svg" style="height: 50px; width: 50px;" />
                                                        <img src="~/images/UIComponents/NSA.png" style="height: 50px; width: 50px;" />
                                                    </div>
                                                    <div style="display: flex; justify-content: space-between; margin-left: 10px; margin-right: 10px;">
                                                        <img src="~/images/UIComponents/CDC.svg" style="height: 65px; width: 65px; transform: translateY(-10px)" />
                                                        <img src="~/images/UIComponents/TWH.png" style="height: 50px; width: 80px;" />
                                                        <img src="~/images/UIComponents/SOSOI.jpg" style="height: 50px; width: 50px;" />
                                                        <img src="~/images/UIComponents/NYS.jpg" style="height: 50px; width: 80px;" />
                                                    </div>
                                                    <div style="display: flex; justify-content: space-between; margin-left: 15px; padding-top: 15px;">
                                                        <img src="~/images/UIComponents/VA.png" style="height: 32px; width: 140px; transform: translateY(15px);" />
                                                        <img src="~/images/UIComponents/USARMY.svg" style="height: 50px; width: 80px;" />
                                                        <img src="~/images/UIComponents/USAIRFORCE.svg" style="height: 50px; width: 80px;" />
                                                        <img src="~/images/UIComponents/NAVY.svg" style="height: 35px; width: 80px; transform: translateY(15px);" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt25" style="display: flex; justify-content: space-between; padding: 0;">
                                            <div class="col-md-5 pl0">
                                                <h5 class="heading-price-match">More Advantages!</h5>
                                                <hr class="segment-line">
                                                <h4 class="small-heading mt25">Dedicated Government Sales Specialists</h4>
                                                <p class="Govt-contracts-text mt10">They will help you get the right products and provide you with exceptional service.</p>
                                                <h4 class="small-heading mt25">Free shipping on all Contracted products</h4>
                                                <p class="Govt-contracts-text mt10">When you shop with Inovatiqa, shipping on all contracted products are free!</p>
                                                <h4 class="small-heading mt25">Worldwide Shipping (Including APO and FPO)</h4>
                                                <p class="Govt-contracts-text mt10">We ship worldwide. Inovatiqa Corporation is there for you!</p>
                                            </div>
                                            <div class="col-md-5">
                                                <h5 class="heading-price-match">Anything else?</h5>
                                                <hr class="segment-line">
                                                <p><a href="@Url.RouteUrl("RequestQuote")"><img src="~/images/UIComponents/text.svg" style="margin-left: 4px; margin-right: 4px;"> Request Quote</a></p>
                                                <p><a href="~/files/forms/Credit Application_Form.pdf"><img src="~/images/UIComponents/pdf.png" style="transform: translateY(-3px);"> W9</a></p>
                                                <p><a href="~/files/forms/Prescription Drug Authorization Form.pdf"><img src="~/images/UIComponents/pdf.png" style="transform: translateY(-3px);"> SAM Registeration</a></p>
                                            </div>
                                        </div>
                                        <div style="margin-top: 75%;">
                                            <h5 class="heading-price-match">Easy Payments</h5>
                                            <hr class="segment-line">
                                            <p class="govt-contracts-text">Inovatiqa’s payment system is geared around your operations so it is easy for you to order the products you need. We offer several flexible payment options such as MasterCard, Visa, Discover and American Express charge cards, as well as SmartPay cards (government purchase cards), purchase orders, blanket purchase agreements (BPAs), and electronic funds transfer (EFT).</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background: #F1F3F6; padding: 20px;"></div> 
</section>