@{
    Layout = "_ColumnsTwo";
}
@{
    ViewBag.Title = "Register";
}
<div class="page not-found-page">
    <div class="page-title">
        <div class="alert alert-danger" role="alert">
            The Page You are Trying to Access is not allowed. Contact your Administrator for more Information.
        </div>
    </div>
    <div class="page-body">
        @*@await Component.InvokeAsync("TopicBlock", new { systemName = "PageNotFound" })*@
    </div>
</div>
