
@{
    Layout = "_ColumnsOne";
    ViewBag.Title = "Returns Policy";
}
@*
    <div class="page  from-panel">
        <div class="page-title panel-heading">
            <h1>Return Policy</h1>
        </div>
        <div style="margin:10px">
            <div class="">

                <h4>In the event there is a problem with your order, please contact us by email customerservice@inovatiqa.com or toll free at +1(346)-229-4142, and let us know in detail of any dissatisfaction you have with your order or experience shopping with Inovatiqa Corporation.</h4>
                <ul>
                    <li>We will gladly exchange or refund any purchase in its original condition by method of payment within 30 days.</li>
                    <li>RMA numbers are valid for 15 days after issuance with original packaging only.</li>
                    <li>Defective merchandise will be exchanged within the first seven days of receipt.</li>
                    <li>Shipping charges are nonrefundable.</li>
                    <li>A 25% re-stocking fee will be charged for any return.</li>
                </ul>

                <br>
                <h4 style="font-weight:bold">DAMAGED PRODUCTS:</h4>
                <p>Please inspect your package when it arrives. If it is defective, you must notify us within 2 business days of delivery at customerservice@inovatiqa.com and we will replace it and pay all shipping costs to and from your location.</p>
                <br>


                <h4 style="font-weight:bold">RETURN A PRODUCT:</h4>
                <p>If you receive a product and it is not what you expected it to be, most products can be returned. Product must be in its original packaging with all Instruction/Warranty paperwork. Shipping labels are not provided. It is the customers’ responsibility to ship the product back. Product must be clean, unused and in its original packaging. You must request an RMA within 10 days of receiving the product. Orders returned without RMA # may not be identified or recognized as being a return and in such cases no refund will be applied.</p>
                <br>


                <h4 style="font-weight:bold">NON-RETURNABLE ITEMS:</h4>
                <p>Include all bath items, incontinence items, wound care products, hospital and adjustable beds, mattresses and support surfaces, hygiene products, sheets, pillows, power patient Lifts & stand-up lifts, slings by Drive Medical, custom wheelchairs Handcycles, Socks, Hose, Ramps, Respiratory items, Wheelchair Cushions and Backs, Spenco Sandals. Diagnostic testing supplies, Refurbished products. All parts orders are non-returnable.</p>
                <br>

                <h4 style="font-weight:bold">USE RMA NUMBER:</h4>
                <p>The RMA (Return Merchandise Authorization) number must be visible on each package. Items returned without an RMA# will be returned to you. Returned products must be in new condition, in the original packaging with all paper documentation. Customer is responsible for return shipping.</p>
                <br>

                <h4 style="font-weight:bold">CREDITS AND REFUNDS:</h4>
                <p>Inovatiqa will credit your purchase, excluding shipping and the restocking fee once the product is received in new condition. If you paid by check or money order you will receive a refund check within 2 weeks of receiving the return.</p>
                <br>


                <h4 style="font-weight:bold">ORDER CANCELLATIONS:</h4>
                <p>If you have placed an order with us and need to cancel it, please contact us immediately at 346-229-4142. We will make every attempt to stop your order from shipping; however, we cannot guarantee that it hasn't shipped. Normal cancellation fee is 25% if your order has been processed Orders for non-returnable products cannot be cancelled once shipped. </p>
                <br>


                <h4 style="font-weight:bold">TERMS:</h4>
                <p>For all prices and products, we reserve the right to create adjustments due to errors, shipping timings, product discontinuation or any errors in advertisements.</p>
                <br>
                <br>

            </div>
        </div>
    </div>
*@


<style>
    .become-customer-box {
        box-shadow: none !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .newcustomer-area {
        padding: 0px !important;
        background: #FFF !important;
    }

    h1, h2, h3, h4, h5, h6 {
        /*font-weight: 500 !important;*/
    }

    .segment-line {
        border: 0.1px solid #DADADA !important;
    }

    .small-heading {
        font-weight: 500 !important;
    }

    .heading {
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
    }
</style>
<section class="container-fluid newcustomer-area">
    <div class="container-fluid" style="background: #F1F3F6; padding: 10px;">
        <div class="container breadcrumb-bar">
            <span class="washed"><a style="color: #A9A9A9;" href="@Url.RouteUrl("Homepage")">Inovatiqa</a> / </span> Return Policy

        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row mt10">
                <div class="col-md-12">
                    <div class="become-customer-box" style="padding-top: 0px;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="font_lato">
                                    <div class="customer-select">
                                        <h4 class="heading-price-match mt25">Return Policy</h4>
                                        <hr class="segment-line">
                                        <h4 class="heading">Return Policy</h4>
                                        <ul class="unmuted-list">
                                            <li class="price-match-helper-text mt16">Inovatiqa will exchange or refund any purchase in its original condition by method of payment within 30 days of purchase</li>
                                            <li class="price-match-helper-text mt16">No returns without the authorization of Inovatiqa Corporation</li>
                                            <li class="price-match-helper-text mt16">Damaged merchandise will be exchanged within the week of purchase</li>
                                            <li class="price-match-helper-text mt16">Shipping charges are nonrefundable.</li>
                                            <li class="price-match-helper-text mt16">A 25% re-stocking fee will be charged for any product you return</li>
                                            <li class="price-match-helper-text mt16">Return Merchandise Authorization (RMA) with original packaging are valid for 15 days after purchase</li>
                                        </ul>
                                        <hr class="segment-line mt42" />
                                        <h4 class="heading mt42">Damaged Products</h4>
                                        <p class="price-match-helper-text ">If you have an item that is damaged, you must notify us within 2 business days of delivery at <a class="blue" href="callto:346-229-4142">346-229-4142</a> and we will replace it for you.</p>

                                        <h4 class="heading mt42">Returning a Product</h4>
                                        <p class="price-match-helper-text ">If you receive a product and it is not what you expected it to be, most products can be returned. The product must be in its original packaging with all paper documentation. Shipping labels are not provided. It is the customers’ responsibility to ship the product back. Product must be unused and in its original packaging. <br><span style="color: #000;">There’s a 25% restocking fee applies to all returns.</span></p>

                                        <h4 class="heading mt42">Non-Returnable Products</h4>
                                        <p class="price-match-helper-text ">Non-returnable products include all bath items, wound care products, hospital and adjustable beds, mattresses and support surfaces, hygiene products, sheets, pillows, power patient lifts & stand-up lifts, slings by <a href="/Drive%20Medical">Drive Medical</a>, custom wheelchairs (only Transport & Standard chairs can be returned), geri-chairs, handcycles, socks, hose, ramps, respiratory items, wheelchair cushions, spenco sandals, diagnostic testing supplies, and refurbished products. <span style="color: #000;">All parts orders are non-returnable.</span></p>
                                        <h4 class="heading mt42">Return Merchandise Authorization (RMA) Number</h4>
                                        <p class="price-match-helper-text ">The RMA (Return Merchandise Authorization) number must be visible on each package. Items returned without an RMA number will be refused and returned back to you. Returned products must be in new condition and in the original packaging with all paper documentation. Customer is responsible for return shipping.</p>
                                        <h4 class="heading mt42">Refunds</h4>
                                        <p class="price-match-helper-text ">We will credit your purchase, excluding shipping and the restocking fee (if applicable) once the product is received and it is in new condition. </p>
                                        <h4 class="heading mt42">Order Cancellations</h4>
                                        <p class="price-match-helper-text ">If you have placed an order with us and need to cancel it, please contact us immediately at <a class="blue" href="callto:346-229-4142">346-229-4142</a>. We will make every attempt to stop your order from shipping; however we cannot guarantee that it hasn't shipped. Normal cancellation fee is 25% if your order has been processed. If your order has shipped, you will be responsible for the shipping charges to you and the return to us. Orders for non-returnable products cannot be cancelled once shipped. Custom orders for adjustable beds, power wheelchairs, scooters and custom wheelchairs that are built-to-order cannot be canceled once the order is processed and assembly has begun.</p>
                                        <p class="price-match-helper-text mt25">We strongly advise you not to refuse a parcel.</p>
                                        <p class="price-match-helper-text mt25">Since many products must be shipped back to an address other than where it was originally shipped from, never refuse a product. Refusing a shipment will result in 30% re-stocking charges plus all shipping costs. Also, without an RMA number, the package may not be identified or recognized as being a return and credit will be not be issued.</p>

                                        <h4 class="heading mt42">Terms of Service</h4>
                                        <p class="price-match-helper-text ">For all prices and products, we reserve the right to make adjustments due to errors, shipping times, product discontinuation or typographical errors in advertisements. </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="background: #F1F3F6; padding: 20px;"></div>
</section>