
@{
    Layout = "_ColumnsOne";
}
@*
    <style>

        .divtest {
            border-bottom: 1px solid #d9d9d9;
            margin-bottom:3%;
        }


        .testimonial_author {
            color: #212121;
            font-weight: 900;
            text-transform: uppercase;
            padding: 6px 0;
            font-size: 14px;
        }
    </style>


    <div class="page  from-panel">
        <div class="page-title panel-heading">
            <h1> Testimonials  </h1>
        </div>
        <div style="margin:10px">
            <div class="">

                <div class="testimonialmaindiv">
                    <ul>
                        <li>
                            <div class="testimonial_cont">"In a time where you can get most things from most vendors and almost all products are obtainable through similar means, if not even from the same exact channels, where one can set themselves apart from all the others and make a difference is in their customer service. My office was in urgent need of the Welch Allyn ekg machine I got, which performs at the excellent quality expected, it was Lori (the rep at 4MD) who went above and beyond to help make possible what many said was not and delivered promptly to save the day! While this was to serve as a product review, We from Brooklyn Heart, took the liberty to recognize not just the product but also 4D Medical’s 5 star commitment to customer service! Kudos! I look forward to many more years of collaborating with them and Welch! .</div>
                            <div class="testimonial_author"><span>The Team at Brooklyn Heart</span></div>
                            <div class="divtest"></div>
                        </li>
                        <li>
                            <div class="testimonial_cont">"I ordered the LIFEPAK CR Plus as a second unit to support our state wide soccer event in which we were hosting 146 teams (3500+) kids, along with their coaches, managers, parents, etc. . 4MD Medical and their customer service rep made it happen in a very short time table so that it arrived in plenty of time. Great company, even better customer support - Thank You Jennifer.</div>
                            <div class="testimonial_author"><span>Jeff U.</span></div>

                            <div class="divtest"></div>
                        </li>
                        <li>
                            <div class="testimonial_cont">"I became a customer a few months ago and if I have a question or concern they answer and take care of things immediately.The shipping is also super fast. If you want to feel secure that you will be taken care off and that your items will arrive fast then buy from them. Their products are top notch. Every company can learn a thing or two about the way they do business.</div>
                            <div class="testimonial_author"><span>The Dinner Table</span></div>
                            <div class="divtest"></div>
                        </li>
                        <li>
                            <div class="testimonial_cont">"After using my SoClean for a while with great results, I spilled water on the front thus frying the electronics - my bad. I called customer service, explained what happened and they sent me a new machine at no cost to me. Even paid the shipping both ways. Pleasure doing business with a company that stands by their product!</div>
                            <div class="testimonial_author"><span>Earl E.</span></div>
                            <div class="divtest"></div>
                        </li>
                        <li>
                            <div class="testimonial_cont">"4MD Medical was amazing to work with! Starting with my online chat, and a follow-up phone call to customer service the next day, they were professional, informative, patient and very friendly. The Mechanical Weight Chair I ordered for our Assisted Living Community arrived earlier than expected, and in perfect condition. The packing was excellent, with each piece being surrounded by cardboard, strapping, etc., so that there were no dents or damage to any parts. The instructions were very thorough and easy to follow and even had instructions on how to best unpack it! Thankfully our maintenance man put it together for us and it works like a charm. Follow the directions to zero it out before weighing, and go from there. As a side note I will say that I am 'of an age' where excellent service used to be the 'norm'. I think we can all agree that that has generally gone out the window. Also I am a nurse manager and have extremely high standards. Suffice to say, it takes a lot to impress me. So it is with great pleasure that I very highly recommend this company and this product"</div>
                            <div class="testimonial_author"><span> Diane Whittier, RN</span></div>
                            <div class="divtest"></div>
                        </li>
                        <li>
                            <div class="testimonial_cont">"Thank you for the fast shipping of the abdominal binder we ordered on the 29th of July. We are very pleased at how fast it arrived. The binder is exactly what we were looking for and it fits perfectly. Thank you again for the great service you provided. We would look to you for any medical supplies we may need in the future.</div>
                            <div class="testimonial_author"><span>Becky M.</span></div>
                            <div class="divtest"></div>
                        </li>
                        <li>
                            <div class="testimonial_cont">"I ordered replacement handbrakes for my sister's wheelchair. Unfortunately, I ordered the wrong color. 4MD Medical Solutions couldn't have been more helpful. Their representative, Miri Kranz, worked with me and really provided exceptional customer service. The 2nd set of replacement brakes were perfect and I'm now a fan of 4MD!"</div>
                            <div class="testimonial_author"><span>SanMateoShopper</span></div>
                            <div class="divtest"></div>
                        </li>
                        <li>
                            <div class="testimonial_cont">"I only have good things to say while dealing with your company. Great customer service, excellent professionalism and all around I had a great experience. Will definitely be using you guys again."</div>
                            <div class="testimonial_author"><span>Ella Schottensberg</span></div>
                            <div class="divtest"></div>
                        </li>
                        <li>
                            <div class="testimonial_cont">"Miri at 4MD Medical Solutions was extremely helpful and patient answering all my questions about a replacement pump for my mattress! I ordered the pump and it arrived quickly."</div>
                            <div class="testimonial_author"><span>GoatPimple</span></div>
                            <div class="divtest"></div>
                        </li>
                        <li>
                            <div class="testimonial_cont">"Thank you 4MD Medicical for a great shopping experience. I found it very easy to find things on your site, and your prices were great!!! And the express check out was amazing. I got everything I needed and I'm sure I'll be back to order more."</div>
                            <div class="testimonial_author"><span>Friedas</span></div>
                            <div class="divtest"></div>
                        </li>
                        <li>
                            <div class="testimonial_cont">"The package arrived yesterday. I fixed my elderly aunt's walker this morning. We both are very grateful to you and your company for the prompt service. Thanks too to Carlos in your Order Department who I spoke to yesterday morning about getting information about the package being shipped. <br> A very satisfied customer</div>
                            <div class="testimonial_author"><span>Peter</span></div>
                            <div class="divtest"></div>
                        </li>
                        <li>
                            <div class="testimonial_cont">"Being disabled I was looking for a rollator. I searched high &amp; low on the web &amp; finally picked the Winnie Walker Drive 161. I had trouble finding reviews, but figured that if a large number of sites carried it that it must be a good bet. I looked for the best price &amp; a company I felt I would be comfortable with. Since 4MD Medical Solutions is a Women run organization I couldn't go wrong. I had problems with the brakes on my unit but received excellent, prompt &amp; courteous service. I have recommended 4MD Medical Solutions to friends &amp; people who have asked where I got my walker. Thank you very much. It has been a pleasure doing business with you."</div>
                            <div class="testimonial_author"><span>Peter Mt. Rockwood</span></div>
                            <div class="divtest"></div>
                        </li>
                        <li>
                            <div class="testimonial_cont">Hi,This experience has been one of the best!!! Most online are helpful, but this young man "WENT THE EXTRA MILE"! It truly was a pleasure ordering. HE LISTENED!! Sometimes you try to tell a rep, and they DO NOT listen to your needs. Adam not only listened, but acted. who could ask for anything more? was also KIND AND PATIENT. THANK YOU PATRICIA M.</div>
                            <div class="testimonial_author"><span>Patricia M.</span></div>
                            <div class="divtest"></div>
                        </li>
                        <li>
                            <div class="testimonial_cont">Just a note to say that the Aquatherm pressure pad arrived just a short time ago. Perfect timing! The package arrived in excellent condition. We'll have it installed later this evening. Most importantly, the patient, my father-in-law, will soon be benefiting from the pressure pad's added relief and health benefits. Thank you again for being so accommodating with my rush order!</div>
                            <div class="testimonial_author"><span>Dan N. Seibold</span></div>
                            <div class="divtest"></div>
                        </li>
                        <li>
                            <div class="testimonial_cont">The service was great. I was able to communicate with them online 24/7. My questions were all answered. I wanted to have the wheelchair in two days and they took my name and phone number and checked with the California Warehouse to see if the item was in stock. They called me back and I placed the order and they held the order till my brother called in the credit card. I was called back to advise me that my order was not the minimum and there would be a delivery charge. They didn't just charge the credit card without permission. The wheelchair arrived in two days. The service was great and they were professional. I would recommend them and would use their services again. Thanks</div>
                            <div class="divtest"></div>

                        </li>
                        <li>
                            <div class="testimonial_cont">I was extremely pleased with the service at 4MD. The staff was knowledgeable and friendly, and the goods were shipping in a timely manner. Highly recommended</div>

                            <div class="divtest"></div>
                        </li>
                    </ul>
                </div>


                <br>
                <br>
                <br>

            </div>
        </div>
    </div>
*@


<style>
    .become-customer-box {
        box-shadow: none !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .newcustomer-area {
        padding: 0px !important;
        background: #FFF !important;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 500 !important;
    }

    .segment-line {
        border: 0.1px solid #DADADA !important;
    }

    .small-heading {
        font-weight: 500 !important;
    }

    .heading {
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
    }

    .price-match-helper-text {
        font-size: 17px !important;
    }

    .muted {
        color: #636363 !important;
        font-size: 13px !important;
    }
    .testimonial_box {
        background: #FFFFFF;
        border: 0.7px solid #DADADA;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 1px;
        height: 226px;
        width: 380px;
        padding: 35px 30px;
        margin-bottom: 100px;
    }
    .username {
        font-family: Lato;
        font-style: normal;
        font-weight: 600 !important;
        font-size: 15.71px;
        line-height: 19px;
        text-align: center;
        color: #718096;
        transform: translateY(5px);
        margin-left: 25px;
    }
    .customer-comment {
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 16.1429px;
        line-height: 21px;
        text-align: center;
        color: #151515;
    }
    .pr0{
        padding-right: 0px !important;
    }
</style>
<section class="container-fluid newcustomer-area">
    <div class="container-fluid" style="background: #F1F3F6; padding: 10px; font-size: 18px;">
        <div class="container" style="font-size: 13.71px;">
            <span class="muted"><a style="color: #A9A9A9;" href="@Url.RouteUrl("Homepage")">Inovatiqa</a> / </span> Testimonials

        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row mt10">
                <div class="col-md-12">
                    <div class="become-customer-box" style="padding-top: 10px;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="font_lato">
                                    <div class="customer-select">
                                        <h4 class="heading-price-match">Testimonials</h4>
                                        <hr class="segment-line">
                                        <h4 class="heading">What our customers are saying...</h4>
                                    </div>
                                </div>

                                <div class="col-md-12 pl0 pr0 mt48">
                                    <div class="row flex_col">
                                        <div class="col-md-4 col-xs-12">
                                            <div class="testimonial_box">
                                                <div style="height: 65%;">
                                                    <p class="customer-comment">“ I have recommended Inovatiqa to friends and family. They are there for you. ”</p>
                                                </div>
                                                <div style="display: flex;">
                                                    <img src="\images\UIComponents\testimonial1.svg">
                                                    <h5 class="username">Sarah, Inovatiqa Customer</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div class="testimonial_box">
                                                <div style="height: 65%;">
                                                    <p class="customer-comment">“ Excellent products, fast service, and competitive pricing. Thank you, Inovatiqa. ”</p>
                                                </div>
                                                <div style="display: flex;">
                                                    <img src="\images\UIComponents\testimonial4.svg">
                                                    <h5 class="username">James, Inovatiqa Customer</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div class="testimonial_box">
                                                <div style="height: 65%;">
                                                    <p class="customer-comment">“  Reliable service. Fast shipping. Excellent customer service. ”</p>
                                                </div>
                                                <div style="display: flex;">
                                                    <img src="\images\UIComponents\testimonial5.svg">
                                                    <h5 class="username">Benjamin, Inovatiqa Customer</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div class="testimonial_box">
                                                <div style="height: 65%;">
                                                    <p class="customer-comment">“ The service and quality at Inovatiqa is amazing. I highly recommend them. ”</p>
                                                </div>
                                                <div style="display: flex;">
                                                    <img src="\images\UIComponents\testimonial6.svg">
                                                    <h5 class="username">Daniel, Inovatiqa Customer</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div class="testimonial_box">
                                                <div style="height: 65%;">
                                                    <p class="customer-comment">“ They’re always available. I would definitely recommend them. ”</p>
                                                </div>
                                                <div style="display: flex;">
                                                    <img src="\images\UIComponents\testimonial2.svg">
                                                    <h5 class="username">Margaret, Inovatiqa Customer</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div class="testimonial_box">
                                                <div style="height: 65%;">
                                                    <p class="customer-comment">“ Quality products. Excellent customer service. Thank you, Hammad! ”</p>
                                                </div>
                                                <div style="display: flex;">
                                                    <img src="\images\UIComponents\testimonial3.svg">
                                                    <h5 class="username">Omar, Inovatiqa Customer</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div class="testimonial_box">
                                                <div style="height: 65%;">
                                                    <p class="customer-comment">“ I would definitely recommend this company. Medical products are always available. ”</p>
                                                </div>
                                                <div style="display: flex;">
                                                    <img src="\images\UIComponents\testimonial7.svg">
                                                    <h5 class="username">Daniel, Inovatiqa Customer</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div class="testimonial_box">
                                                <div style="height: 65%;">
                                                    <p class="customer-comment">“ They’re very friendly and easy to use. This company is very helpful. ”</p>
                                                </div>
                                                <div style="display: flex;">
                                                    <img src="\images\UIComponents\testimonial8.svg">
                                                    <h5 class="username">Leslie, Inovatiqa Customer</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div class="testimonial_box">
                                                <div style="height: 65%;">
                                                    <p class="customer-comment">“ Inovatiqa is a reliable company you can rely on for medical products. ”</p>
                                                </div>
                                                <div style="display: flex;">
                                                    <img src="\images\UIComponents\testimonial9.svg">
                                                    <h5 class="username">Elizabeth, Inovatiqa Customer</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div class="testimonial_box">
                                                <div style="height: 65%;">
                                                    <p class="customer-comment">“ It’s a pleasure doing business with a company that stands by their product! ”</p>
                                                </div>
                                                <div style="display: flex;">
                                                    <img src="\images\UIComponents\testimonial10.svg">
                                                    <h5 class="username">Nancy, Inovatiqa Customer</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div class="testimonial_box">
                                                <div style="height: 65%;">
                                                    <p class="customer-comment">“ Thank you Inovatiqa for a great shopping experience. ”</p>
                                                </div>
                                                <div style="display: flex;">
                                                    <img src="\images\UIComponents\testimonial11.svg">
                                                    <h5 class="username">Adam, Inovatiqa Customer</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xs-12">
                                            <div class="testimonial_box">
                                                <div style="height: 65%;">
                                                    <p class="customer-comment">“ Thank you for the great service you provided. We would look to you for any medical supplies we may need in the future. ”</p>
                                                </div>
                                                <div style="display: flex;">
                                                    <img src="\images\UIComponents\testimonial12.svg">
                                                    <h5 class="username">Peter, Inovatiqa Customer</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="background: #F1F3F6; padding: 25px;"></div>
</section>