
@{
    Layout = "_ColumnsOne";
}
<div class="page  from-panel">
    <div class="page-title panel-heading">
        <h1>Why Inovatiqa ?</h1>
    </div>
    <div style="margin:10px">
        <div class="">

            <h4>In the event there is a problem with your order, please contact us by email customerservice@inovatiqa.com or toll free at +1(346)-229-4142, and let us know in detail of any dissatisfaction you have with your order or experience shopping with Inovatiqa Corporation.</h4>
            <ul>
                <li>
                    Fast Free Shipping
                </li>
                <li>
                	Price-Match Guarantee
                </li>
                <li>
                    Competitive Pricing
                </li>
                <li>
                    Purchase Order
                </li>
                <li>
                    Friendly Support
                </li>
                <li> GPO  </li>
            </ul>

            <br>
            <p>
                On most of the orders $150 and above
                We will price match other authorized competitors
                Feel Free to contact us about our special pricing and volume discounts
                We gladly except Purchase Orders
                Call our Customer Service Team: 346-229-4142
                GPO contract pricing with most manufacturers

            </p>
            <br>


            <p>
                We need to create small icons for all 6 bullets and match the font on it also.
            </p>
            <br>


            <br>
            <br>
            <br>

        </div>
    </div>
</div>
