@model ManufacturerModel

@{
    //page title
    ViewBag.PageTitle = "Add a new manufacturer";
}

<form asp-controller="Manufacturer" asp-action="Create" method="post" id="manufacturer-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Add a new manufacturer
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">back to manufacturer list</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Save
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Save and Continue Edit
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>