@model TierPriceModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

@if (ViewBag.RefreshPage == true)
{
    @Html.Resource(@<script type="text/javascript">
            try {window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();}
            catch (e){}
            window.close();
    </script>, "js")
}

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-popup">
                    <div class="panel-body">
                        @*<div class="form-group" style="display:none;">
                            <div class="col-sm-3">
                                <nop-label asp-for="Quantity" />
                            </div>
                            <div class="col-sm-9">
                                <nop-editor asp-for="Quantity" />
                                <span asp-validation-for="Quantity"></span>
                            </div>
                        </div>*@
                        <div class="form-group" style="display:none;">
                            <div class="col-sm-3">
                                <nop-label asp-for="EntityId" />
                            </div>
                            <div class="col-sm-9">
                                <nop-editor asp-for="EntityId" />
                                <span asp-validation-for="EntityId"></span>
                            </div>
                        </div>
                        <div class="form-group" style="display:none;">
                            <div class="col-sm-3">
                                <nop-label asp-for="EntityName" />
                            </div>
                            <div class="col-sm-9">
                                <nop-editor asp-for="EntityName" />
                                <span asp-validation-for="EntityName"></span>
                            </div>
                        </div>
                        @if(Model.EntityName != "Product"){
                            <div class="form-group">
                                <div class="col-sm-3">
                                </div>
                                <div class="col-sm-9">
                                    <p style="color:red;">Enter Discount Rate in persentage(%).</p>
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <div class="col-sm-3">
                                <nop-label asp-for="Rate" />
                            </div>
                            <div class="col-sm-9">
                                <nop-editor asp-for="Rate" />
                                <span asp-validation-for="Rate"></span>
                            </div>
                        </div>
                        @*<div class="form-group" @(Model.AvailableStores.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                            <div class="col-sm-3">
                                <nop-label asp-for="StoreId" />
                            </div>
                            <div class="col-sm-9">
                                <nop-select asp-for="StoreId" asp-items="Model.AvailableStores" />
                                <span asp-validation-for="StoreId"></span>
                            </div>
                        </div>*@
                        @if(Model.EntityName == "Product")
                        {
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <nop-label asp-for="CustomerId" />
                                </div>
                                <div class="col-sm-9">
                                    @*<nop-select asp-for="CustomerRoleId" asp-items="Model.AvailableCustomerRoles" />
                                    <span asp-validation-for="CustomerRoleId"></span>*@
                                    <nop-select asp-for="CustomerId" asp-items="Model.AvailabelCustomer" />
                                    <span asp-validation-for="CustomerId"></span>
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <div class="col-sm-3">
                                <nop-label asp-for="StartDateTimeUtc" />
                            </div>
                            <div class="col-sm-9">
                                <nop-editor asp-for="StartDateTimeUtc" />
                                <span asp-validation-for="StartDateTimeUtc"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <nop-label asp-for="EndDateTimeUtc" />
                            </div>
                            <div class="col-sm-9">
                                <nop-editor asp-for="EndDateTimeUtc" />
                                <span asp-validation-for="EndDateTimeUtc"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>