<div class="s contact-mpopupform font_lato">
    <div id="contact-mform" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <div class="form-group">
                        <label>Please Select the Appropriate Topic / Contact:</label>
                        <select class="form-control">
                            <option>Please Select</option>
                            <option>Option</option>
                            <option>Option</option>
                        </select>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="manger-info">
                        <h4>Contact Your Account Manager</h4>
                        <p>If you have a question for your Account Manager, please fill out the form below. If you have a question about your order status or technical issues with your account or login, please choose an alternate topic from the drop down above.</p>
                    </div>
                    <div class="please-call">
                        <p>Please call <strong>(346) 229-4142</strong> for urgent, order related issues.</p>
                    </div>
                    <div class="contactm-form">
                        <div class="contactperson-info">
                            <p>Contact: <span>Hammad Iqbal</span></p>
                            <p>Account: <span>#57833404 HAMNA LLC</span></p>
                        </div>
                        <form>
                            <div class="row">
                                <div class="form-max-width">
                                    <div class="col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <label>Email:</label>
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-sm-9">
                                        <div class="form-group">
                                            <input type="email" name="email" placeholder="purchasing@inovatiqa.com" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <label>Phone:</label>
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-sm-9">
                                        <div class="form-group">
                                            <input type="text" name="location" placeholder="832-477-6777" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <div class="form-group">
                                            <label>Subject:</label>
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-sm-9">
                                        <div class="form-group">
                                            <input type="text" name="location" placeholder="Scheduled Orders" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Comment:</label>
                                        <textarea class="form-control" rows="5"></textarea>
                                    </div>
                                    <div class="max-charlimit">
                                        <p>(Maximum of 1024 characters): You have 1024 characters left.</p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="popup-btn font_roboto">
                        <a href="#" class="btn btn-cancelreq" data-dismiss="modal">Cancel Request</a>
                        <input type="submit" name="send" value="Submit Request" class="form-control btn btn-signin">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>