<div class="block block-category-navigation well">
    <div class="title">
        <strong>Manufacturer Name</strong>
    </div>
    <div class="listbox">
        <ul class="nav nav-list">
            <li></li>
        </ul>
    </div>
</div>
