@using Inovatiqa.Core
<!DOCTYPE html>
<html lang="lang="en">
<head>
    <title>Inovatiqa</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <link href="@Url.Content($"~/Themes/CoreTheme/Content/css/print.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/lib/jquery/jquery-3.4.1.min.js")"></script>
    <script src="@Url.Content("~/lib/jquery-migrate/jquery-migrate-3.1.0.min.js")"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
