<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" inovatiqaResource="Home" controller="Home" action="Overview">
    <siteMapNode SystemName="Dashboard" inovatiqaResource="Dashboard" controller="Home" action="Index" IconClass="fa-desktop" />
    <siteMapNode SystemName="Catalog" inovatiqaResource="Catalog" PermissionNames="ManageProducts,ManageCategories,ManageManufacturers,ManageProductReviews,ManageProductTags,ManageAttributes" IconClass="fa-book" >
      <siteMapNode SystemName="Products" inovatiqaResource="Products" PermissionNames="ManageProducts" controller="Product" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Categories" inovatiqaResource="Categories" PermissionNames="ManageCategories" controller="Category" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Manufacturers" inovatiqaResource="Manufacturers" PermissionNames="ManageManufacturers" controller="Manufacturer" action="List" IconClass="fa-dot-circle-o"/>
      <!--<siteMapNode SystemName="Product reviews" inovatiqaResource="ProductReviews" PermissionNames="ManageProductReviews" controller="ProductReview" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Product tags" inovatiqaResource="ProductTags" PermissionNames="ManageProductTags" controller="Product" action="ProductTags" IconClass="fa-dot-circle-o"/>-->      
      <!--<siteMapNode SystemName="Attributes" inovatiqaResource="Attributes" PermissionNames="ManageAttributes" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="Product attributes" inovatiqaResource="ProductAttributes" controller="ProductAttribute" action="List" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Specification attributes" inovatiqaResource="SpecificationAttributes" controller="SpecificationAttribute" action="List" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Checkout attributes" inovatiqaResource="CheckoutAttributes" controller="CheckoutAttribute" action="List" IconClass="fa-genderless"/>
      </siteMapNode>-->
    </siteMapNode>
    <siteMapNode SystemName="Sales" inovatiqaResource="Sales" PermissionNames="ManageOrders,ManageRecurringPayments,ManageReturnRequests,ManageGiftCards,ManageCurrentCarts" IconClass="fa-shopping-cart">
      <siteMapNode SystemName="Orders" inovatiqaResource="Orders" PermissionNames="ManageOrders" controller="Order" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Invoices" inovatiqaResource="Invoices" PermissionNames="ManageInvoices" controller="Order" action="InvoicedShipmentList"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Shipments" inovatiqaResource="Shipments" PermissionNames="ManageOrders" controller="Order" action="ShipmentList"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Return requests" inovatiqaResource="Return Requests" PermissionNames="ManageReturnRequests" controller="ReturnRequest" action="List"  IconClass="fa-dot-circle-o"/>
      <!--<siteMapNode SystemName="Recurring payments" inovatiqaResource="Admin.RecurringPayments" PermissionNames="ManageRecurringPayments" controller="RecurringPayment" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Gift cards" inovatiqaResource="Admin.GiftCards" PermissionNames="ManageGiftCards" controller="GiftCard" action="List"  IconClass="fa-dot-circle-o"/>-->
      <siteMapNode SystemName="Current shopping carts and wishlists" inovatiqaResource="Shopping carts and wishlists" PermissionNames="ManageCurrentCarts" controller="ShoppingCart" action="CurrentCarts"  IconClass="fa-dot-circle-o"/>      
    </siteMapNode>
    <siteMapNode SystemName="Customers" inovatiqaResource="Customers" PermissionNames="ManageCustomers, ManageVendors, ManageActivityLog" IconClass="fa-user" >
      <siteMapNode SystemName="Customers list" inovatiqaResource="Customers list" PermissionNames="ManageCustomers" controller="Customer" action="List" IconClass="fa-dot-circle-o" />
      <!--<siteMapNode SystemName="Customer roles" inovatiqaResource="Customer roles" PermissionNames="ManageCustomers" controller="CustomerRole" action="List" IconClass="fa-dot-circle-o" />-->
      <siteMapNode SystemName="Online customers" inovatiqaResource="Online customer" PermissionNames="ManageCustomers" controller="OnlineCustomer" action="List" IconClass="fa-dot-circle-o" />      
      <!--<siteMapNode SystemName="Vendors" inovatiqaResource="Vendors" PermissionNames="ManageVendors" controller="Vendor" action="List" IconClass="fa-dot-circle-o" />-->
      <siteMapNode SystemName="Activity logs" inovatiqaResource="Activity logs" PermissionNames="ManageActivityLog" controller="ActivityLog" action="ActivityLogs" IconClass="fa-dot-circle-o"/>
      <!--<siteMapNode SystemName="Activity types" inovatiqaResource="Activity types" PermissionNames="ManageActivityLog" controller="ActivityLog" action="ActivityTypes" IconClass="fa-dot-circle-o"/>-->
      <!--<siteMapNode SystemName="GDPR log" inovatiqaResource="Admin.Customers.GdprLog" PermissionNames="ManageCustomers" controller="Customer" action="GdprLog" IconClass="fa-dot-circle-o" />-->
    </siteMapNode>
    <siteMapNode SystemName="Reports" inovatiqaResource="Reports" PermissionNames="ManageProducts,ManageOrders,OrderCountryReport,ManageCustomers" IconClass="fa-line-chart">
      <siteMapNode SystemName="Low stock" inovatiqaResource="Low stock" PermissionNames="ManageProducts" controller="Report" action="LowStock" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Bestsellers" inovatiqaResource="Bestsellers" PermissionNames="ManageOrders" controller="Report" action="Bestsellers" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Products never purchased" inovatiqaResource="Products never purchased" PermissionNames="ManageOrders" controller="Report" action="NeverSold" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Country sales" inovatiqaResource="Country sales" PermissionNames="OrderCountryReport" controller="Report" action="CountrySales" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Customers" inovatiqaResource="Customer reports" PermissionNames="ManageCustomers" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="Registered customers" inovatiqaResource="Registered customers" PermissionNames="ManageCustomers" controller="Report" action="RegisteredCustomers" IconClass="fa-dot-circle-o" />
        <siteMapNode SystemName="Customers by order total" inovatiqaResource="Customers by order total" PermissionNames="ManageCustomers" controller="Report" action="BestCustomersByOrderTotal" IconClass="fa-dot-circle-o" />
        <siteMapNode SystemName="Customers by number of orders" inovatiqaResource="Customers by number of orders" PermissionNames="ManageCustomers" controller="Report" action="BestCustomersByNumberOfOrders" IconClass="fa-dot-circle-o" />
      </siteMapNode>
    </siteMapNode>
    <!--<siteMapNode SystemName="Promotions" inovatiqaResource="Admin.Promotions" PermissionNames="ManageAffiliates, ManageNewsletterSubscribers, ManageCampaigns, ManageDiscounts" IconClass="fa-tags">
      <siteMapNode SystemName="Discounts" inovatiqaResource="Admin.Promotions.Discounts" PermissionNames="ManageDiscounts" controller="Discount" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Affiliates" inovatiqaResource="Admin.Affiliates" PermissionNames="ManageAffiliates" controller="Affiliate" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Newsletter subscriptions" inovatiqaResource="Admin.Promotions.NewsletterSubscriptions" PermissionNames="ManageNewsletterSubscribers" controller="NewsLetterSubscription" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Campaigns" inovatiqaResource="Admin.Promotions.Campaigns" PermissionNames="ManageCampaigns" controller="Campaign" action="List"  IconClass="fa-dot-circle-o"/>
    </siteMapNode>-->
    <siteMapNode SystemName="Content Management" inovatiqaResource="Content Management" PermissionNames="ManagePolls, ManageNews, ManageBlog, ManageTopics, ManageForums, ManageMessageTemplates" IconClass="fa-cubes">
      <siteMapNode SystemName="Slider" inovatiqaResource="Manage slider images" PermissionNames="ManageSlider" controller="Slider" action="Configure" IconClass="fa-dot-circle-o" />
      <!--<siteMapNode SystemName="Message templates" inovatiqaResource="Admin.ContentManagement.MessageTemplates" PermissionNames="ManageMessageTemplates" controller="MessageTemplate" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="News items" inovatiqaResource="Admin.ContentManagement.News.NewsItems" PermissionNames="ManageNews" controller="News" action="NewsItems" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="News comments" inovatiqaResource="Admin.ContentManagement.News.Comments" PermissionNames="ManageNews" controller="News" action="NewsComments" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Blog posts" inovatiqaResource="Admin.ContentManagement.Blog.BlogPosts" PermissionNames="ManageBlog" controller="Blog" action="BlogPosts" IconClass="fa-dot-circle-o"/>      
      <siteMapNode SystemName="Blog comments" inovatiqaResource="Admin.ContentManagement.Blog.Comments" PermissionNames="ManageBlog" controller="Blog" action="BlogComments" IconClass="fa-dot-circle-o"/>      
      <siteMapNode SystemName="Polls" inovatiqaResource="Admin.ContentManagement.Polls" PermissionNames="ManagePolls" controller="Poll" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Manage forums" inovatiqaResource="Admin.ContentManagement.Forums" PermissionNames="ManageForums" controller="Forum" action="List"  IconClass="fa-dot-circle-o"/>-->
    </siteMapNode>
    <!--<siteMapNode SystemName="Configuration" inovatiqaResource="Admin.Configuration" PermissionNames="ManageStores,ManageCountries,ManageLanguages,ManageSettings,ManagePaymentMethods,ManageExternalAuthenticationMethods,ManageWidgets,ManageTaxSettings,ManageShippingSettings,ManageCurrencies,ManageACL,ManageEmailAccounts,ManagePlugins"
       IconClass="fa-gears">
      <siteMapNode SystemName="Settings" inovatiqaResource="Admin.Configuration.Settings" PermissionNames="ManageSettings" IconClass="fa-dot-circle-o" >
        <siteMapNode SystemName="General settings" inovatiqaResource="Admin.Configuration.Settings.GeneralCommon" controller="Setting" action="GeneralCommon" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Customer and user settings" inovatiqaResource="Admin.Configuration.Settings.CustomerUser" controller="Setting" action="CustomerUser" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Order settings" inovatiqaResource="Admin.Configuration.Settings.Order" controller="Setting" action="Order" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Shipping settings" inovatiqaResource="Admin.Configuration.Settings.Shipping" controller="Setting" action="Shipping" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Tax settings" inovatiqaResource="Admin.Configuration.Settings.Tax" controller="Setting" action="Tax" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Catalog settings" inovatiqaResource="Admin.Configuration.Settings.Catalog" controller="Setting" action="Catalog" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Shopping cart settings" inovatiqaResource="Admin.Configuration.Settings.ShoppingCart" controller="Setting" action="ShoppingCart" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Reward points" inovatiqaResource="Admin.Configuration.Settings.RewardPoints" controller="Setting" action="RewardPoints" IconClass="fa-genderless"/>
        <siteMapNode SystemName="GDPR settings" inovatiqaResource="Admin.Configuration.Settings.Gdpr" controller="Setting" action="Gdpr" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Vendor settings" inovatiqaResource="Admin.Configuration.Settings.Vendor" controller="Setting" action="Vendor" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Blog settings" inovatiqaResource="Admin.Configuration.Settings.Blog" controller="Setting" action="Blog" IconClass="fa-genderless"/>
        <siteMapNode SystemName="News settings" inovatiqaResource="Admin.Configuration.Settings.News" controller="Setting" action="News" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Forums settings" inovatiqaResource="Admin.Configuration.Settings.Forums" controller="Setting" action="Forum" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Media settings" inovatiqaResource="Admin.Configuration.Settings.Media" controller="Setting" action="Media" IconClass="fa-genderless"/>
        <siteMapNode SystemName="All settings" inovatiqaResource="Admin.Configuration.Settings.AllSettings" controller="Setting" action="AllSettings" IconClass="fa-genderless"/>
      </siteMapNode>
      <siteMapNode SystemName="Email accounts" inovatiqaResource="Admin.Configuration.EmailAccounts" PermissionNames="ManageEmailAccounts" controller="EmailAccount" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Stores" inovatiqaResource="Admin.Configuration.Stores" PermissionNames="ManageStores" controller="Store" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Countries" inovatiqaResource="Admin.Configuration.Countries" PermissionNames="ManageCountries" controller="Country" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Languages" inovatiqaResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Currencies" inovatiqaResource="Admin.Configuration.Currencies" PermissionNames="ManageCurrencies" controller="Currency" action="List" IconClass="fa-dot-circle-o"/>      
      
      <siteMapNode SystemName="Payment methods" inovatiqaResource="Admin.Configuration.Payment.Methods" PermissionNames="ManagePaymentMethods" controller="Payment" action="Methods" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Payment restrictions" inovatiqaResource="Admin.Configuration.Payment.MethodRestrictions" PermissionNames="ManagePaymentMethods" controller="Payment" action="MethodRestrictions" IconClass="fa-dot-circle-o"/>

      <siteMapNode SystemName="Tax providers" inovatiqaResource="Admin.Configuration.Tax.Providers" PermissionNames="ManageTaxSettings" controller="Tax" action="Providers" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Tax categories" inovatiqaResource="Admin.Configuration.Tax.Categories" PermissionNames="ManageTaxSettings" controller="Tax" action="Categories" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Shipping" inovatiqaResource="Admin.Configuration.Shipping" PermissionNames="ManageShippingSettings" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="Shipping providers" inovatiqaResource="Admin.Configuration.Shipping.Providers"  controller="Shipping" action="Providers" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Warehouses" inovatiqaResource="Admin.Configuration.Shipping.Warehouses" controller="Shipping" action="Warehouses" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Pickup points" inovatiqaResource="Admin.Configuration.Shipping.PickupPoints"  controller="Shipping" action="PickupPointProviders" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Dates and ranges" inovatiqaResource="Admin.Configuration.Shipping.DatesAndRanges" controller="Shipping" action="DatesAndRanges" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Measures" inovatiqaResource="Admin.Configuration.Shipping.Measures" controller="Measure" action="List"  IconClass="fa-genderless" />
      </siteMapNode>
      <siteMapNode SystemName="Access control list" inovatiqaResource="Admin.Configuration.ACL" PermissionNames="ManageACL" controller="Security" action="Permissions" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Widgets" inovatiqaResource="Admin.ContentManagement.Widgets" PermissionNames="ManageWidgets" controller="Widget" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="External authentication methods" inovatiqaResource="Admin.Configuration.ExternalAuthenticationMethods" PermissionNames="ManageExternalAuthenticationMethods" controller="ExternalAuthentication" action="Methods" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Local plugins" inovatiqaResource="Admin.Configuration.Plugins.Local" PermissionNames="ManagePlugins" controller="Plugin" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="All plugins and themes" inovatiqaResource="Admin.Configuration.Plugins.OfficialFeed" PermissionNames="ManagePlugins" controller="Plugin" action="OfficialFeed"  IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="System" inovatiqaResource="Admin.System" PermissionNames="ManageSystemLog,ManageMessageQueue,ManageMaintenance,ManageScheduleTasks" IconClass="fa-cube">
      <siteMapNode SystemName="System information" inovatiqaResource="Admin.System.SystemInfo" PermissionNames="ManageMaintenance" controller="Common" action="SystemInfo"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Log" inovatiqaResource="Admin.System.Log" PermissionNames="ManageSystemLog" controller="Log" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Warnings" inovatiqaResource="Admin.System.Warnings" PermissionNames="ManageMaintenance" controller="Common" action="Warnings"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Maintenance" inovatiqaResource="Admin.System.Maintenance" PermissionNames="ManageMaintenance" controller="Common" action="Maintenance"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Queued emails" inovatiqaResource="Admin.System.QueuedEmails" PermissionNames="ManageMessageQueue" controller="QueuedEmail" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Schedule tasks" inovatiqaResource="Admin.System.ScheduleTasks" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Search engine friendly names" inovatiqaResource="Admin.System.SeNames" PermissionNames="ManageMaintenance" controller="Common" action="SeNames"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Templates" inovatiqaResource="Admin.System.Templates" PermissionNames="ManageMaintenance" controller="Template" action="List" IconClass="fa-dot-circle-o"/>     
    </siteMapNode>
    
    <siteMapNode SystemName="Help" inovatiqaResource="Admin.Help" IconClass="fa-question-circle">
      <siteMapNode SystemName="Help topics" inovatiqaResource="Admin.Help.Topics" url="https://docs.nopcommerce.com?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=admin-panel"  IconClass="fa-dot-circle-o" OpenUrlInNewTab="true"/>
      <siteMapNode SystemName="Community forums" inovatiqaResource="Admin.Help.Forums" url="https://www.nopcommerce.com/boards?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=admin-panel"  IconClass="fa-dot-circle-o" OpenUrlInNewTab="true"/>
      <siteMapNode SystemName="Premium support services" inovatiqaResource="Admin.Help.SupportServices" url="https://www.nopcommerce.com/nopcommerce-premium-support-services?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=admin-panel"  IconClass="fa-dot-circle-o" OpenUrlInNewTab="true"/>
    </siteMapNode>
    <siteMapNode SystemName="Third party plugins" inovatiqaResource="Admin.Plugins" IconClass="fa-bars" />-->
  </siteMapNode>
</siteMap>

