@model BestsellerBriefSearchModel

@using Inovatiqa.Core
@inject Inovatiqa.Services.Common.Interfaces.IGenericAttributeService genericAttributeService
@inject Inovatiqa.Services.WorkContext.Interfaces.IWorkContextService workContextService
@{
    const string panelId = "bestsellers-report-amount-box";
    const string hidePanelAttributeName = "Reports.HideBestsellersBriefReportByAmountPanel";
    var hidePanel = genericAttributeService.GetAttribute<bool>(workContextService.CurrentCustomer, hidePanelAttributeName, workContextService.CurrentCustomer.Id);
}

<div class="box box-info @if(hidePanel){<text>collapsed-box</text>}" id="@panelId">
    <div class="box-header with-border">
        <h3 class="box-title">
            <i class="fa fa-star-o"></i>
            Bestsellers by amount
        </h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse">
                @if (hidePanel)
                {
                    <text><i class="fa fa-plus"></i></text>
                }
                else
                {
                    <text><i class="fa fa-minus"></i></text>
                }
            </button>
        </div>
    </div>
    @Html.Resource(@<script type="text/javascript">
        $(document).ready(function () {
            $('#@panelId').on('click', 'button[data-widget="collapse"]', function () {
                var collapsed = !$('#@panelId').hasClass('collapsed-box');
                saveUserPreferences('@(Url.Action("SavePreference", "Preferences"))', '@hidePanelAttributeName', collapsed);
            });
        });
    </script>, "js")
    <div class="box-body">

        @await Html.PartialAsync("Table", new DataTablesModel
        {
           Name = "bestsellers-byamount-grid",
           UrlRead = new DataUrl("BestsellersBriefReportByAmountList", "Order", new RouteValueDictionary { [nameof(Model.OrderBy)] = OrderByEnum.OrderByTotalAmount }),
           Length = Model.PageSize,
           Dom = "<'row'<'col-md-12't>>" +
                      "<'row margin-t-5'" +
                        "<'col-lg-10 col-xs-12'<'float-lg-left'p>>" +
                        "<'col-lg-2 col-xs-12'<'float-lg-right text-center'i>>" +
                      ">",
           ColumnCollection = new List<ColumnProperty>
                {
                    new ColumnProperty(nameof(BestsellerModel.ProductName))
                    {
                        Title = "Name"
                    },
                    new ColumnProperty(nameof(BestsellerModel.TotalQuantity))
                    {
                        Title = "Total quantity"
                    },
                    new ColumnProperty(nameof(BestsellerModel.TotalAmount))
                    {
                        Title = "Total amount"
                    },
                    new ColumnProperty(nameof(BestsellerModel.ProductId))
                    {
                        Title = "View",
                        Width = "50",
                        ClassName = "button-column",
                        Render = new RenderButtonView(new DataUrl("~/Admin/Product/Edit/"))
                    }
                }
       })
    </div>
</div>